<div *ngIf="currentCourse" class="edit-form col-md-5 mx-auto">
  <table class="table" >
    <thead>
    <tr>
      <th scope="col">  </th>
      <th scope="col">{{currentCourse.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Category</th>
      <td>{{currentCourse.category}}</td>
    </tr>
    <tr>
      <th scope="row">Created at</th>
      <td>{{currentCourse.createdAt}}</td>
    </tr>
    <tr>
      <th scope="row">Difficulty</th>
      <td>{{currentCourse.difficulty}}</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>{{currentCourse.status}}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{currentCourse.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
<app-lesson-list></app-lesson-list>

